# Ignore the Data directories
Reference_Genomes/
SoftMasking/known_repeat_elements/
SoftMasking/*/*/Results/

# Ignore any of the RepeatModeler runs
SoftMasking/*/*/Results/0_RepeatModeler/

# Ignore R related files
*.Rhistory
*.Rdata